<div class="col-md-6 parent-container">
  <button type="button" class="btn btn-primary" (click)="addFeeItem()">Add Item</button>
  <mat-card>
    <mat-card-content>
      <div *ngFor="let item of feeItem let iComp = index" class="form-container">
        <!-- <form (ngSubmit)="onSubmit()" class="form-container"> -->
          <div class="form-group">
            <label for="itemName">Item Name</label>
            <input title="please enter item name" type="text" id="itemName" name="itemName" [(ngModel)]="item.itemName"/>
          </div>
          <div class="form-group">
            <label for="itemPrice">Price</label>
            <input title="please enter item name" type="number" id="itemPrice" name="itemPrice" [(ngModel)]="item.itemAmount"
            (ngModelChange)="calculateTotalAmount(iComp)"/>
          </div>
        <!-- </form> -->
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="total-amt">
    <mat-card-content>
      <label>Total Amount</label>
      <h2>{{totalAmount}}</h2>
    </mat-card-content>
  </mat-card>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</div>
